@media (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px; /* 모바일 기기에 맞게 폰트 크기 조정 */
        font-family: 'Noto Sans KR', sans-serif;
    }

    .for_making_colored_gap{
        display: flex;
        width: 100vw;
        height: 0.75vh;
        background-color: #d9d9d9;
    }

    .view_details_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: flex-start;  */
        min-height: 100vh;
        /* width: 100vw; */

    }
 
    .map_container{
        width:100vw;
        height:25vh;
        padding: 0;
        margin: 0;
    }

    #map {
        /* margin-top: 0.5rem; */
        border: 1px solid #ccc;
        /* border-radius: 0.4rem; */
    }

    #backButton{
        width: 40px;
        z-index: 3;
        /* background-color: red; */
        border: 1px solid #CBCBCB;
        border-radius: 100%;
        box-shadow: 0px 0px 1px #4B4B4B;
        margin-top: 5.5vh;
        margin-left: 4.44vw;
    }

    .details_content_header{
        display: flex;
        flex-direction: column;
        margin-left: 9.44vw;
        margin-right: 9.44vw;
    }

    .header_title{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #placeName{
        font-size: 1.625rem;
        font-weight: 500;
    }

    .header_content{
        display: flex;
        flex-direction: column;
    
    }

    .info{
        display: flex;
        flex-direction: row;
        font-size: 0.875rem;
        font-weight: 400;
    }

    .content_star{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
    }

    .rating{
        display: flex;
        flex-direction: row;
        color: #FF6262;
        font-size: 0.8125rem;
    }

    .ratingCount{
        display: flex;
        flex-direction: row;
        font-size: 0.625rem;
    }

    .toilet_info_container_design{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .toilet_info_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;

    }

    .toilet_info{
        border: 1px solid black;
        font-size: 0.5rem

    }


    .amend_information{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid black; */
        cursor: pointer;
        /* background-color: #0056b3; */
        height: 6.25vh;

    }

    .amendLink_text{
        margin-left: 9.44vw;
        /* margin-right: 9.44vw; */
        font-size: 1rem;
    }

    #amend_arrow{
        margin-right: 7.77vw;
        height: 1.5rem;
    }
    

    .details_content_rating{
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin-top: 1.5vh;
        margin-bottom: 1.0vh;
    }

    .content_rating_text
    {
        display: flex;
        font-size: 0.9375rem;
        font-weight: 400;
    }

    .submitRating_design{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #submitRating{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: .85rem;
        border: 1px solid #6276FF;
        border-radius: .7rem;
        padding: 0.2rem 0.5rem;
        color: #334eff;

        /* border: 1px solid palevioletred; */
    }

    .details_content_review{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 1px solid red; */
        /* height: 50vh; */
        margin-left: 9.44vw;
        margin-right: 9.44vw;
        margin-bottom: 2vh;
        flex-grow: 1;
        /* overflow-y: auto; */
    }

    .review-prompt {
        margin-top: 1rem;
        /* position: fixed; 
        bottom: 0; 
        left: 0; 
        margin-left: 9.44vw;
        margin-right: 9.44vw;
        width: 100%; */
    
    }

    /* .prompt_id_pw{
        margin-left: 9.5vw;
        margin-right: 9.5vw;
    } */

    .prompt_id_pw input[type="text"]
    {
        width: 11.6vw; /* 모바일 화면에 맞게 너비 조정 */
        /* padding: 0.5rem;
        margin-bottom: 0.5rem; */
        border: 1px solid #4B4B4B;
        border-radius: 0.2rem;
        padding: 0.3rem;
        margin-right: 1.5vw;
        
    }

    .prompt_id_pw input[type="password"]{
        width: 15.5vw; /* 모바일 화면에 맞게 너비 조정 */
        /* padding: 0.5rem;
        margin-bottom: 0.5rem; */
        border: 1px solid #4B4B4B;
        border-radius: 0.2rem;
        padding: 0.3rem;
    }
    
    #username::placeholder {
        font-size: 0.75rem; 
        text-align: center;
    }

    #password::placeholder {
        font-size: 0.75rem; 
        text-align: center;; 
    }

    .prompt_write_submit{
        
        background-color: #dce1ff;
        display: flex;
        flex-direction: row;
        /* padding: 0.3rem; */
        justify-content: space-between;
        align-items: center;
        border-radius: 0.2rem;
        height: 5vh;
    }

    #reviewText{
        width: 85%; 
        height: 3.5vh;

        margin-left: 0.3rem;
        border: none;
        border-radius: 0.4rem;
        background-color: #dce1ff;
        font-size:0.7rem;
    }

    #reviewText::placeholder {
        font-size: 0.7rem; 
        text-align: start;

    }
    
    
    #submitReview{
        width: 1.5rem; 
        height: auto; 
        cursor: pointer;
        margin-right: 0.4rem;
    }

    /* .review-prompt button {
        width: 90%; 
        padding: 0.6rem;
        background-color: #007bff;
        border: none;
        border-radius: 0.4rem;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    } */

    /* .review-prompt button:hover {
        background-color: #0056b3;
    } */

    .review_component{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5vh;
    }
    
    .review_comment_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .comment_container_detail{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .review_comment_id{
        display: flex;
        font-size: 0.6875rem;

    }

    .review_comment_bar{
        display: flex;
        width: 1px;
        height: 1.875vh;
        margin-left: 2px;
        margin-right: 2px;
        background-color: gray;
        
    } 

    .review_comment_date{
        display: flex;
        font-size: 0.5625rem;
        
    }

    .comment_container_content{
        
        padding: 0.2rem 0.3rem;
        border: none;
        border-radius: 0.15rem;
        background-color: #dce1ff;
        font-size:0.7rem;
    }




    .edit-button, .delete-button {
        padding: 0.4rem 0.6rem;
        margin-left: 0.5rem;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        font-size: 0.9rem;
    }

    .edit-button {
        background-color: #7c755e;
    }

    .delete-button {
        background-color: #dc3545;
        color: white;
    }

}

/* 태블릿 디바이스 */
@media (min-width: 481px) and (max-width: 768px) {
    /* 태블릿에 적용할 스타일 */
}

/* 데스크탑 디바이스 */
@media (min-width: 769px) {
    /* 데스크탑에 적용할 스타일 */

    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        padding-left: 0;
        margin: 0;

    }

    .map_container{
        width:100vw;
        height:10vh;
    }

    .review-prompt {
        margin-top: 20px;
    }

    .review-prompt input[type="text"],
    .review-prompt input[type="password"],
    .review-prompt textarea {
        width: 80%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .review-prompt button {
        width: 80%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .review-prompt button:hover {
        background-color: #0056b3;
    }


    .details-container {
        /* Your styles for the container */
    }

    #map {
        margin-top: 20px;
        /* Space above the map */
        border: 1px solid #ccc;
        /* Border around the map */
        border-radius: 4px;
        /* Rounded corners */
    }


    /* 리뷰 표시 스타일 */
    .comment-container {
        border-bottom: 1px solid #ccc;
        padding: 8px;
        position: relative;
    }

    .edit-button,
    .delete-button {
        padding: 5px 10px;
        margin-left: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.8em;
    }

    .edit-button {
        background-color: #ffc107;
    }

    .delete-button {
        background-color: #dc3545;
        color: white;
    }

    .toilet_info_container {
        display: flex;
        flex-direction: row;
    }

    .toilet_info {
        display: flex;
        flex-direction: row;
        margin: 10px;

        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;

    }

}